# essentials
build/
__pycache__/
.version
nmma.egg-info/
.DS_Store

# development
.vscode/

# models
svdmodels/
benchmark_output/
svdtraingmodel/
outdir/

##custom files
stable_eos_241205.txt
slurm.sub
nmma/eos/data
nmma/tests/data

##to be deprecated
nmma/eos/manual.py
