# essentials
.version

# python bytecode / caches
__pycache__/
*.py[cod]
*$py.class

# packaging / build artifacts
build/
dist/
*.egg-info/
.eggs/
*.egg
*.so

# testing / coverage
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/

# notebooks
.ipynb_checkpoints/

# virtual environments
venv/
.venv/
env/
ENV/

# OS / editor cruft
.DS_Store
.vscode/

# models
nmma_models/
svdtraingmodel/
outdir/

## custom files
stable_eos_241205.txt
slurm.sub
nmma/eos/data
min_install.zip
