include AUTHORS
include COPYING
include MANIFEST.in
include README.rst
include TODO.rst
include requirements.in
include requirements.txt
include production_requirements.txt
include doc_requirements.txt
include grb_requirements.txt

include doc/*.rst doc/*.md doc/images/*.png doc/images/*.svg
include doc/conf.py doc/Makefile
