future
bilby>=2.7.0
bilby_pipe>=1.4.0
schwimmbad
colorcet
numpy>=2.0
matplotlib>=3.8
scipy>=1.10
pandas>=2.0
astropy>=6.0
pymultinest
sncosmo
dust_extinction
arviz
tornado
notebook
toml
ligo.skymap
healpy
scikit-learn
keras>=3.0
tensorflow-cpu>=2.19